@mixin link-styles {
  border-bottom: 1px dotted;
  color: $accent;
  text-decoration: none;
}

@mixin link-styles-states {
  background-color: $accent;
  color: $primary-dark;
  border-bottom: 2px solid;
  text-decoration: none;
}
