---
layout: default
title: Schedule
categories: Schedule
---

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Conference planning timeline</h1>
                <p>Over the coming months, we'll be gathering proposals and voting on conference speakers and activities.</p>
            </div>
        </div>

        {% include talks-and-workshops-buttons.html %}

        <div class="row">
            {% include homepage/pre_conference.html %}
        </div>

        <!-- Mini-schedule for use while timeline is still displayed -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="expo">Conference Schedule</h3>
                    <div class="row going-on">
                        <div class="col-12">
                        <div class="h4">Monday, May 23, 9am-5pm</div>
                        <small>Pre-Conference Workshops, details will be available on the registration site and Pre-Conference Workshops page.</small>
                        </div>
                    </div>
                    
                    <div class="row going-on">
                        <div class="col-12">
                        <div class="h4">Tuesday, May 24, 9am-5:15pm</div>
                        <small>General Conference, Day One</small>
                        </div>
                    </div>

                    <div class="row going-on">
                        <div class="col-12">
                        <div class="h4">Wednesday, May 25, 9am-5:15pm</div>
                        <small>General Conference, Day Two</small>
                        </div>
                    </div>

                    <div class="row going-on">
                        <div class="col-12">
                        <div class="h4">Thursday, May 26, 9am-12:45pm</div>
                        <small>General Conference, Day Three</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
