<section class="general-info">
    <div class="col-12">
        <h2 id="conference-hotel">Conference Venue</h2>

        <p>Code4Lib {{site.data.conf.year}} will be held at {{site.data.conf.venue.name}} in {{site.data.conf.location}}.</p>

        {% if site.data.conf.venue.image %}
        <div class="col-6">
            <img class="img-fluid" src="/assets/img/venues/{{ site.data.conf.venue.image }}" alt="{{ site.data.conf.venue.name }}">
        </div>
        {% endif %}

        <div class="col-6">
            <p>
                {{site.data.conf.venue.street}}<br>
                {{site.data.conf.city-state}} {{site.data.conf.venue.postal-code}}<br>
                {% if site.data.conf.venue.phone != nil %}
                    <a href="tel:{{site.data.conf.venue.phone}}">{{site.data.conf.venue.phone}}</a> |
                {% endif %}
                {% if site.data.conf.venue.website %}
                    <a href="{{site.data.conf.venue.website}}">Website</a>
                {% endif %}
                {% if site.data.conf.venue.floorplan != nil %}
                 | <a href="{{site.data.conf.venue.floorplan}}">Floor Plan</a>
                {% endif %}
            </p>
            <p>
                <strong><a href="{{site.data.conf.venue.directions}}">Getting to {{site.data.conf.venue.name}}</a></strong>
            </p>
        </div>
    </div>

    {% if site.data.conf.venue.hotel.show %}
    <div class="col-12">
        <h3>Lodging</h3>
        {% if site.data.conf.venue.hotel.reserved-room-block %}
        <p>
            The conference has a block of rooms reserved at the {{site.data.conf.venue.hotel.name}}, starting at a daily rate of {{ site.data.conf.venue.hotel.cost }} ({% if site.data.conf.venue.hotel.with-tax-cost %}{{ site.data.conf.venue.hotel.with-tax-cost }} with taxes{% else %}plus taxes{% endif %}).
            This rate is valid between the dates of {{site.data.conf.days[0].date}} to {{site.data.conf.days.last.date}}, but only until {% if site.data.conf.venue.hotel.cost-cutoff-date %}{{ site.data.conf.venue.hotel.cost-cutoff-date | date: "%B %-d" }} or until {% endif %}the block fills up.
            Rooms may be available at the group rate before or after the above dates, based on availability at the hotel.
            While the reservation will require a credit card, it will not be charged until you arrive (you may also incur a fee if you do not show, or cancel outside of the allowable cancellation time frame).
        </p>
        {% elsif site.data.conf.venue.hotel.name != nil %}
        <p>
            The conference hotel is the {{ site.data.conf.venue.hotel.name }}. While the reservation will require a credit card, it will not be charged until you arrive (you may also incur a fee if you do not show, or cancel outside of the allowable cancellation time frame).
        </p>
        {% endif %}
        {% if site.data.conf.venue.hotel.check-in-time %}
        <p>
            Check-in is at {{site.data.conf.venue.hotel.check-in-time}} while check-out is
            {{site.data.conf.venue.hotel.check-out-time}}. Included in our reservation is free access to the hotel's guest WiFi
            network.
        </p>
        {% endif %}

        {% if site.data.conf.venue.hotel.multiple-hotels %}
            <p>
                Due to the nature of hosting this conference on campus, in {{ site.data.conf.year }} there will not be a centralized hotel location.
                The Local Planning Committee has secured small blocks of rooms at nearby hotels at modestly discounted rates.
                Hotel registration information (including online booking links and discount codes) will be sent directly via email to all registered attendees.
            </p>
            {%- comment -%} Buffalo hotels, slight indent for section {%- endcomment -%}
            <section class="col-md-8">
                <p>
                    <strong class="font-bold">Wyndham Garden Buffalo Downtown</strong><br>
                    125 High Street<br>
                    Buffalo, New York 14203<br>
                    <a href="tel:1-716-845-0112">(716) 845-0112</a><br>
                    Code4lib Attendee Rate: $108/night plus applicable taxes<br>
                    Reservation Deadline: Saturday, April 23, 2022<br>
                </p>
                <p>
                    <strong class="font-bold">Embassy Suites Buffalo</strong><br>
                    200 Delaware Avenue<br>
                    Buffalo, NY 14202<br>
                    <a href="tel:1-716-842-1000">(716) 842-1000</a><br>
                    Code4lib Attendee Rate: $169/night plus applicable taxes<br>
                    Reservation Deadline: Saturday, April 23, 2022<br>
                </p>
                <p>Embassy Suites reservations come with complimentary made to order breakfasts each morning, and an evening reception for all guests. Valet parking is available for overnights guests, the current rate is $25/night.</p>
                <p>
                    <strong class="font-bold">Aloft Buffalo Downtown</strong><br>
                    500 Pearl St <br>
                    Buffalo, NY 14202<br>
                    <a href="tel:1-716-849-7280">(716) 849-7280</a><br>
                    Code4lib Attendee Rate: $179/night plus applicable taxes<br>
                    Reservation Deadline: Thursday, April 21, 2022<br>
                </p>
            </section>

            {% if site.data.conf.venue.hotel.multiple-hotels-map %}
                <p>
                    The conference Local Planning Committee has put together <a href="{{ site.data.conf.venue.hotel.multiple-hotels-map }}">a Google Map</a> with pins to help you find lodging in the area around the {{ site.data.conf.venue.name }} building, site of the main conference.
                </p>
            {% endif %}
        {% endif %}

        {% if site.data.conf.venue.hotel.self-parking-fee or site.data.conf.venue.hotel.valet-parking-fee %}
            <h3>Parking</h3>
            {% if site.data.conf.venue.hotel.self-parking-fee %}
                <p><strong>Onsite Self-Parking</strong>: {{site.data.conf.venue.hotel.self-parking-fee}} per night</p>
            {% endif %}
            {% if site.data.conf.venue.hotel.valet-parking-fee %}
                <p><strong>Onsite Valet Parking</strong>: {{site.data.conf.venue.hotel.valet-parking-fee}} per night</p>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}

    <div class="col-12">
        <h3>Transportation</h3>
        <p>
            For information regarding local public transit options, driving directions, and parking availability, please consult the Jacobs School Facilities Planning and Management <a href="https://medicine.buffalo.edu/offices/facilities/parking.html">"Commuting" help page</a>.
        </p>
    </div>
</section>
